.label{

    color: rgb(63, 42, 165);
}

.textarea{

    color: aqua;
}

.iframe {
    width: 300px; 
    height: 500px;
    border: 30px solid red; 
}

#id {
   color: rgb(34, 253, 41);
   text-align: center; 

  
}